body {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 40px;
}

@font-face {
  font-family: "Wheaton";
  src: url("fonts/wheaton-capitals.otf");
}

.title {
  font-family: "Wheaton", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  color: #e7ba49;
  text-align: center;
}


.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: white;
}

#gameCanvas {
  background-color: #000;
  border: 1px solid #666;
  border-radius: 10px;
  padding: 10px;
}

.score-bar {
  font-family: "Wheaton";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #222;
  color: white;
  border: 1px solid #666;
  padding: 10px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.score-section, .level-section, .lives-section {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 150px;
}

.score {
  min-width: 100px;
}

.label {
  color: #666;
}

.lives {
  display: flex;
  align-items: center;
  gap: 5px;
}
